*,
*::after,
*::before {
    box-sizing: border-box;
}

#calculator {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #777;
}

#output-wrapper {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
}

#output-calculation,
#output {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

#output-calculation {
    flex: 0 0 30%;
    font-size: small;
}

#output {
    flex: 0 0 70%;
    font-size: larger;
    
}

#keyboard {
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

button {
    flex: 1;
}