*,
*::after,
*::before {
    box-sizing: border-box;
}

#calculator,
#output-wrapper,
#keyboard,
.row {
    /* border: 2px solid black; */
}

#calculator {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

#output-wrapper {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
    border: 2px solid black;
}

#output-calculation,
#output {
    display: flex;
    justify-content: flex-end;
}

#keyboard {
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
    /* flex-wrap: nowrap; */
}

button {
    flex: 1;
    /* background-color: lightyellow; */
}
/* 
.btn-number {
    background-color: lightgreen;
}

.btn-function {
    background-color: lightcoral;
} */